<div class="container mt-4">
          <div class="row">
                    <div class="col-sm-6">
                              <app-seleccionar-cliente [nombre]="clienteSeleccionado.nombre" (seleccionoCliente)="asignarCliente($event)" (canceloCliente)="eliminarCliente()"></app-seleccionar-cliente>
                              <button class="btn btn-primary mt-2" (click)="guardar()">Guardar</button>
                    </div>
                    <div class="col-sm-6">
                              segundo
                    </div>
          </div>
</div>