<div class="container">
          <h4 class="mt-3">Listado de Clientes</h4>
          <form>
                    <div class="form-group">
                              <input class="form-control" type="text" placeholder="Busque un cliente..">
                    </div>
          </form>
          <div class="row mt-5">
                    <div class="col-sm-3">
                              <div class="card text-center" >
                                        <img src="assets/profile_pic.png" class="card-img-top p-3 img-fluid" alt="..." >
                                        <div class="card-body">
                                                  <h5 class="card-title">Juan Martinez</h5>
                                                  <a href="#" class="card-link">Editar</a>
                                                  <a href="#" class="card-link text-danger">Desactivar</a>
                                        </div>
                              </div>     
                    </div>
                    
                   
          </div>
</div>
